

// Variables
@import 'variables';


@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

#resource-table thead th {
  border: none;
}

a,
p,
label {
  font-family: 'Lato', sans-serif;
}

h1,
h3,
h2,
h4,
h5 {
  font-family: 'PT Sans', sans-serif;
}
